/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
.carousel-item {
    height: 56vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #icons{
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 0;
    
  
  }
i{
    margin-right: 5px;
}
 p{
    font-size: 20px;
 }
 .pcc{
    width: 700px;
    height: 80px;
    padding: 7px;
    background-color: rgb(232, 232, 232);
   
 }
 .lr{
    width: 70px;
    height: 40px;
    background-color: aqua;
 }
