<p class="first" style="font-size: large;">Login As</p>
<div class="teachLog">
    
    <button  type="button" class="btn bg-primary">
        <a href="/teacher/login" style="color: azure;">Teacher Login</a>
    </button>


    <button  type="button" class="btn bg-primary">
        <a href="/student/login" style="color: azure;">Student Login</a>
    </button>
</div>