<nav class="navbar navbar-light bg-success">
  <a  class="navbar-brand mb-0 h1" href="/">Result Management System</a> 
  <a href="/" class="btn btn-info bg-dark " style="margin-top:5px; ">Logout</a>
</nav>